<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <body>
    <div id="formbox">
        <h2>Form</h2>
        <form id="form" method="post" action="/api/fileanalyse" enctype="multipart/form-data">
            <input type="file" name="file" id="file" multiple>
            <input type="text" name="password" id="password" required>
            <input type="submit" value="Submit">
        </form>
    </div>
  </body>
</html>